<div class="image-container">
    <img src="assets/images/about-us-001.jpg" alt="Sample Image">
    <div class="overlay-text">เกี่ยวกับเรา</div>
</div>

<div style="padding: 5% 5% 5% 5%;">
    <div class="row">
        <div class="col-6">
            <img mat-card-image src="assets/images/about-us-003.jpg" style="width: 100%;">
        </div>
        <div class="col-6">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;บริษัท ทีจีซี อินเตอร์เนชั่นแนล
            จำกัด ก่อตั้งโดย นายจิรโรจน์ สีสรรพ์ ทนายความที่ได้รับใบอนุญาตมากว่า 20 ปี
            ได้มีประสบการณ์การจดเครื่องหมายการค้า จดสิทธิบัตร จดลิขสิทธิ์ จดแบรนด์ จดลิขสิทธิ์โลโก้
            และงานด้านทรัพย์สินทางปัญญามายาวนานมากกว่า 25 ปีตั้งแต่เรียนจบ

            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;งานด้านทรัพย์สินทางปัญญาโดยเฉพาะอย่างยิ่งงานจดสิทธิบัตร
            เป็นงานที่ทำได้ยากมากและมีคนที่เขียนเก่งๆ
            ด้านสิทธิบัตรน้อยมาก และมีราคาแพงมากจนประชาชนทั่วไปไม่สามารถเข้าถึงได้
            และส่งผลต่อการพัฒนาประเทศอย่างชัดเจนเนื่องจากประเทศไทยเราไม่มีสิทธิบัตรที่ได้รับความคุ้มครองเลย
            แม้คนไทยเองจะได้คิดค้นสิ่งประดิษฐ์ที่ยอดเยี่ยมแต่ก็ไม่สามารถเขียนงานสิทธิบัตรให้ถูกต้องตามหลักสากล
            และสามารถใช้บังคับตามกฎหมายได้

            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เราได้มองเห็นข้อบกพร่องเรื่องของการยื่นคำขอจดทะเบียนสิทธิบัตร
            หลังจากนั้นจึงได้ก่อตั้งสำนักงาน TGC Thailand
            ขึ้นมาเป็นโมเดลของสำนักงานทำแค่ 3 อย่างคือ จดเครื่องหมายการค้า จดสิทธิบัตร จดลิขสิทธิ์
            และเป็นเจ้าแรกที่สร้างโมเดลธุรกิจงาน 3 อย่าง ให้กับเพื่อนร่วมสายอาชีพมากมาย
            ซึ่งถือเป็นแรงผลักดันซึ่งกันและกันในเวลาต่อมา
        </div>
    </div>
</div>

<br>
<div class="topic-bar">
    <div>
        ทีมงาน
    </div>
</div>
<br>

<div style="padding: 5% 5% 5% 5%;">
    <div class="row">
        <div class="row">
            <div class="col-4" *ngFor="let r of data">
                <mat-card class="example-card" appearance="outlined" style="margin-bottom: 5%;">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{ r.name || "" }}</mat-card-title>
                        <mat-card-subtitle>{{ r.position || "" }}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/images/about-us-002.jpg">
                    <mat-card-content>
                        <br>
                        <p>{{ r.note || "" }}</p>
                        <br>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>