.header-bar {
    height: 10%;
    background-color: #E2AB2D;
    color: #ffffff;
}

.header-button {
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    width: 100%;
    color: #ffffff;
}

.header-logo {
    height: 30%;
    margin: 8px;
}