.header-bar {
    background-color: #fff !important;
    color: #003CA6 !important;
    height: 75px;
    font-size: 16px;
    align-items: center;
}

.header-button {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #003CA6 !important;
}

.header-logo {
    height: 50px !important;
}

.header-button-active {
    border-bottom: solid #d7d8d4;
    background-color: #f3f3f3;
    border-radius: 10px;
}

.mat-drawer {
    border-radius: 0px !important;
    background: #F8EFE0 !important;
}

.side-button {
    border-color: transparent !important;
    border-radius: 5px !important;
    height: 50px !important;
    background-color: #e2ab2d !important;
    color: #fff !important;
    margin: 5px 5px 0px 5px;
}

.footer-bar-detail {
    background-color: #003CA6;
    color: #fff;
    padding: 3%;
}

/* สำหรับมือถือ */
@media (max-width: 480px) {
    .header-logo-center {
        display: grid !important;
        place-items: center !important;
    }

    .custom-css {
        font-size: 14px;
    }

    .isMobile {
        display: flex !important;
    }

    .isNotMobile {
        display: none !important;
    }

    .footer-bar {
        background-color: #003CA6;
        text-align: center;
        color: #fff;
        height: 90px;
        font-size: 16px;
        align-items: center;
        display: grid;
    }

    .footer-bar-detail {
        background-color: #003CA6;
        color: #fff;
        padding: 10%;
    }
}

/* สำหรับแท็บเล็ต */
@media (min-width: 481px) and (max-width: 768px) {
    .custom-css {
        font-size: 15px;
    }

    .isMobile {
        display: none !important;
    }

    .isNotMobile {
        display: flex !important;
    }

    .header-logo {
        margin-left: 5% !important;
    }

    .footer-bar {
        background-color: #003CA6;
        text-align: center;
        color: #fff;
        height: 90px;
        font-size: 16px;
        align-items: center;
        display: grid;
    }

    .footer-bar-detail {
        background-color: #003CA6;
        color: #fff;
        padding: 5%;
    }

    .mat-drawer-content {
        overflow: hidden !important;
    }
}

/* สำหรับเดสก์ท็อปขนาดกลาง */
@media (min-width: 769px) and (max-width: 1024px) {
    .custom-css {
        font-size: 16px;
    }

    .isMobile {
        display: none !important;
    }

    .isNotMobile {
        display: flex !important;
    }

    .header-logo {
        margin-left: 3% !important;
    }

    .footer-bar {
        background-color: #003CA6;
        text-align: center;
        color: #fff;
        height: 90px;
        font-size: 16px;
        align-items: center;
        display: grid;
    }

    .footer-bar-detail {
        background-color: #003CA6;
        color: #fff;
        padding: 5%;
    }

    .mat-drawer-content {
        overflow: hidden !important;
    }
}

/* สำหรับเดสก์ท็อปขนาดใหญ่ */
@media (min-width: 1025px) and (max-width: 1440px) {
    .custom-css {
        font-size: 16px;
    }

    .isMobile {
        display: none !important;
    }

    .isNotMobile {
        display: flex !important;
    }

    .header-logo {
        margin-left: 3% !important;
    }

    .footer-bar {
        background-color: #003CA6;
        text-align: center;
        color: #fff;
        height: 90px;
        font-size: 16px;
        align-items: center;
        display: grid;
    }

    .mat-drawer-content {
        overflow: hidden !important;
    }
}

/* สำหรับหน้าจอขนาดใหญ่พิเศษ */
@media (min-width: 1441px) {
    .custom-css {
        font-size: 16px;
    }

    .isMobile {
        display: none !important;
    }

    .isNotMobile {
        display: flex !important;
    }

    .header-logo {
        margin-left: 3% !important;
    }

    .footer-bar {
        background-color: #003CA6;
        text-align: center;
        color: #fff;
        height: 90px;
        font-size: 16px;
        align-items: center;
        display: grid;
    }

    .mat-drawer-content {
        overflow: hidden !important;
        width: 100% !important;
    }
}