<div style="text-align: center; padding: 5% 5% 5% 5%;">
    <div class="row">
        <div class="col-12">การจัดการข้อมูล</div>
    </div>
    <div class="row" *ngFor="let item of data">
        <div class="col-6">{{ item.name }}</div>
        <div class="col-6"><button (click)="deleteData(item.id)">Delete</button></div>
    </div>
    <div class="row">
        <div class="col-12">
            <button (click)="addData({ id: 5, name: 'New Data' })">Add Data</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                <ngx-editor [editor]="editor" [ngModel]="html" [disabled]="false"
                    [placeholder]="'Type here...'"></ngx-editor>
            </div>
        </div>
        <div class="col-6">
            {{html}}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form (ngSubmit)="onSubmit()" #fileUploadForm="ngForm" enctype="multipart/form-data">
                <input type="file" (change)="onFileChange($event)" />
                <button type="submit">Upload</button>
            </form>
        </div>
        <div class="col-6">
            <img mat-card-image src="assets/images/about-us-002.jpg" style="width: 100%;">
        </div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6"></div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6"></div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6"></div>
    </div>


</div>