<div class="image-container">
    <img src="assets/images/home-001.jpg" class="header-logo" alt="Intellegent Global" style="width: 100%;">
    <div class="overlay-text">หน้าหลัก</div>
</div>

<div style="padding: 4% 5% 0% 5%;">
    <div class="row">
        <div class="col-12">
            <mat-card class="example-card" appearance="outlined" style="margin-bottom: 5%; background-color: #003CA6; color: #fff;">
                <mat-card-content>
                    <div class="row">
                        <div class="col-4" style="text-align: center; padding: 5%;">
                            <img src="assets/images/home-002.png" class="header-logo" alt="Intellegent Global" style="width: 20%;"><br><br>
                            <b>เครื่องหมายการค้า/Trademark</b><br>
                            บริการรับจดทะเบียนเครื่องหมายการค้า เครื่องหมายบริการ เครื่องหมายร่วม จดลิขสิทธิ์โลโก้ จดแบรนด์ 
                        </div>
                        <div class="col-4" style="text-align: center; padding: 5%;">
                            <img src="assets/images/home-002.png" class="header-logo" alt="Intellegent Global" style="width: 20%;"><br><br>
                            <b>สิทธิบัตร/Patent</b><br>
                            บริการรับจดทะเบียนสิทธิบัตรการประดิษฐ์ อนุสิทธิบัตร สิทธิบัตรการออกแบบผลิตภัณฑ์ ในประเทศไทย
                        </div>
                        <div class="col-4" style="text-align: center; padding: 5%;">
                            <img src="assets/images/home-002.png" class="header-logo" alt="Intellegent Global" style="width: 20%;"><br><br>
                            <b>ลิขสิทธิ์/Copyright</b><br>
                            บริการรับจดแจ้งลิขสิทธิ์ จดลิขสิทธิ์งานสร้างสรรค์ที่กฎหมายให้ความคุ้มครอง 9 ประเภท
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<div class="topic-bar">
    <div>
        เกี่ยวกับเรา
    </div>
</div>

<div style="padding: 5% 5% 5% 5%;">
    <div class="row">
        <div class="col-6">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;บริษัท ทีจีซี อินเตอร์เนชั่นแนล จำกัด ก่อตั้งโดย นายจิรโรจน์ สีสรรพ์ ทนายความที่ได้รับใบอนุญาตมากว่า 20 ปี
            ได้มีประสบการณ์การจดเครื่องหมายการค้า จดสิทธิบัตร จดลิขสิทธิ์ จดแบรนด์ จดลิขสิทธิ์โลโก้
            และงานด้านทรัพย์สินทางปัญญามายาวนานมากกว่า 25 ปีตั้งแต่เรียนจบ

            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;งานด้านทรัพย์สินทางปัญญาโดยเฉพาะอย่างยิ่งงานจดสิทธิบัตร เป็นงานที่ทำได้ยากมากและมีคนที่เขียนเก่งๆ
            ด้านสิทธิบัตรน้อยมาก และมีราคาแพงมากจนประชาชนทั่วไปไม่สามารถเข้าถึงได้
            และส่งผลต่อการพัฒนาประเทศอย่างชัดเจนเนื่องจากประเทศไทยเราไม่มีสิทธิบัตรที่ได้รับความคุ้มครองเลย
            แม้คนไทยเองจะได้คิดค้นสิ่งประดิษฐ์ที่ยอดเยี่ยมแต่ก็ไม่สามารถเขียนงานสิทธิบัตรให้ถูกต้องตามหลักสากล
            และสามารถใช้บังคับตามกฎหมายได้

            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เราได้มองเห็นข้อบกพร่องเรื่องของการยื่นคำขอจดทะเบียนสิทธิบัตร หลังจากนั้นจึงได้ก่อตั้งสำนักงาน TGC Thailand
            ขึ้นมาเป็นโมเดลของสำนักงานทำแค่ 3 อย่างคือ จดเครื่องหมายการค้า จดสิทธิบัตร จดลิขสิทธิ์
            และเป็นเจ้าแรกที่สร้างโมเดลธุรกิจงาน 3 อย่าง ให้กับเพื่อนร่วมสายอาชีพมากมาย
            ซึ่งถือเป็นแรงผลักดันซึ่งกันและกันในเวลาต่อมา
        </div>
        <div class="col-6">
            <img mat-card-image src="assets/images/about-us-002.jpg" style="width: 100%;">
        </div>
    </div>
</div>

<!-- <div *ngIf="data.length > 0">
    <ul>
        <li *ngFor="let item of data">
            {{ item.id }}: {{ item.name }} ({{ item.age }} years old)
        </li>
    </ul>
</div> -->